@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

html, body {
    height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
    justify-content: center;
}

.player {
	position: absolute;
	bottom: -32px;
	width: 100%;
	opacity: 0.5;
	z-index: 100;
	transition: all 200ms;
}

#hot_edge {
	align-self: flex-end;
	position: absolute;
	width: 100%;
	height: 64px;
	opacity: 0.5;
	z-index: 101;
}

.player_shown {
	bottom: 0;
}

#music { display: none; }

#music_display {
	position: absolute;
}

.select_file {
	font-family: Raleway, sans-serif;
	font-size: 2.2em;
	padding: 10px;
	box-sizing: border-box;
	
	text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
	color: #fff;
	
	border-radius: 15px;
	transition: all 200ms;
	cursor: pointer;
	z-index: 50;
}

.select_file:hover {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}

.select_file:active {
	background-color: transparent;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #fff;
}

.bg {
	position: absolute;
	
	/* -webkit-filter: blur(4px); */ 
	/* -moz-filter: blur(4px); */
	/* -o-filter: blur(4px); */ 
	/* -ms-filter: blur(4px); */
	/* filter: blur(4x); */ 

	height: 110%;
	width: 105%;
	left: -5%;
	top: -5%;
	background : url(
https://images.unsplash.com/photo-1547093349-65cdba98369a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80
  );

	background-position: center;
	background-size: 110% 105%;
	z-index: -1;
}

.moveup {
	position: absolute;
	top: 1%;
	font-size: 1.1em;
}
